Connected Services/MyEventTimeService/EventTimeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="MyEventTimeService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lat" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="lng" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MyEventTimeServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MyEventTimeServiceResult" type="tns:RootObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RootObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="results" type="tns:Results" />
          <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Results">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sunrise" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sunset" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="solar_noon" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="day_length" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="civil_twilight_begin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="civil_twilight_end" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nautical_twilight_begin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nautical_twilight_end" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="astronomical_twilight_begin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="astronomical_twilight_end" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="TestEntity">
        <s:complexType />
      </s:element>
      <s:element name="TestEntityResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MyEventTimeServiceSoapIn">
    <wsdl:part name="parameters" element="tns:MyEventTimeService" />
  </wsdl:message>
  <wsdl:message name="MyEventTimeServiceSoapOut">
    <wsdl:part name="parameters" element="tns:MyEventTimeServiceResponse" />
  </wsdl:message>
  <wsdl:message name="TestEntitySoapIn">
    <wsdl:part name="parameters" element="tns:TestEntity" />
  </wsdl:message>
  <wsdl:message name="TestEntitySoapOut">
    <wsdl:part name="parameters" element="tns:TestEntityResponse" />
  </wsdl:message>
  <wsdl:portType name="EventTimeServiceSoap">
    <wsdl:operation name="MyEventTimeService">
      <wsdl:input message="tns:MyEventTimeServiceSoapIn" />
      <wsdl:output message="tns:MyEventTimeServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestEntity">
      <wsdl:input message="tns:TestEntitySoapIn" />
      <wsdl:output message="tns:TestEntitySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EventTimeServiceSoap" type="tns:EventTimeServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MyEventTimeService">
      <soap:operation soapAction="http://tempuri.org/MyEventTimeService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestEntity">
      <soap:operation soapAction="http://tempuri.org/TestEntity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EventTimeServiceSoap12" type="tns:EventTimeServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MyEventTimeService">
      <soap12:operation soapAction="http://tempuri.org/MyEventTimeService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestEntity">
      <soap12:operation soapAction="http://tempuri.org/TestEntity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EventTimeService">
    <wsdl:port name="EventTimeServiceSoap" binding="tns:EventTimeServiceSoap">
      <soap:address location="https://localhost:44346/EventTimeService.asmx" />
    </wsdl:port>
    <wsdl:port name="EventTimeServiceSoap12" binding="tns:EventTimeServiceSoap12">
      <soap12:address location="https://localhost:44346/EventTimeService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>